<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioQueueSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>190EBA5E1CF3467B00D8FB32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>190EBA771CF3467B00D8FB32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>190EBA821CF3467B00D8FB32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
